*

# Allow Directories
!*/

# Disallowed Directories
**/obj/
**/bin/
.vs

# Allowed File Types
!.gitignore
!.dockerignore
!Dockerfile
!*.sln
!*.csproj
!*.cs
!*.json
!*.yml
!*.dcproj